<h1>Teams</h1>

<p>Create a new team:</p>

<form action="/teams" method="post">
  <label for="name">Team Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add team</button>
</form>


<% if @teams.any?() %>
<p>Click on a team to update it:</p>

<ul>
  <% @teams.each do |team| %>
  <li><a href="/teams/<%= team.id()%>"><%= team.name() %></a> <form action="/teams/<%= team.id()%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="button">Delete</button></li>
  </form></li>
  <% end %>
</ul>
<% else %>
<p>There are no teams yet!</p>
<% end %>

<form action="/coordinators" method="post">
  <label for="team_id">Select a Team</label>
  <select id='team_id' name='team_id' type='text'>
    <% @teams.each() do |team| %>
      <option value="<%= team.id()%>"> <%= team.name() %> </option>
    <% end %>
  </select>

  <label for="coordinator_name">Name of Team Coordinator</label>
  <input id="coordinator_name" name="coordinator_name" type="text">

  <button type="submit">Add Coordinator</button>
</form>
